#buildView {
  padding: 0  20px 15px;
  margin-top: 25px;
}

#gameWrapper {
  width: 70%;
  float: left;
}

#gameWrapper canvas {
  margin: 0 auto;
  width: auto;
  display: block;
}

#settingsWrapper {
  width: 30%;
  float: left;
}